{% extends 'RottenwoodArticleBundle:Default:layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header header-article-list">
                    <h1>Газета |
                        <small>
                            {% if article.title is defined %}
                                {{ article.title }}
                            {% else %}
                                Статья не найдена
                            {% endif %}
                        </small>
                    </h1>
                    <div  class="col-md-4 homelink">
                        <a href="{{ url('index') }}">Список статей</a>
                    </div>
                    <div class="col-md-8 author textright">
                            {% if article.authors is defined %}
                                {% for author in article.authors %}
                                    {{ author.name }} {{ loop.last ? '' : ', ' }}
                                {% endfor %}
                            {% else %}
                                Автор не указан
                            {% endif %}
                    </div>
                </div>
                {% if article %}
                    {% if article.error is defined %}
                        {{ article.error }}
                    {% endif %}

                    {% if article.content is defined %}
                        {{ article.content }}
                    {% endif %}
                {% else %}
                    Статья которую вы ищите не найдена.
                {% endif %}

            </div>
        </div>
    </div>



{% endblock content %}
