{% extends 'RottenwoodArticleBundle:Default:layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header col-md-8">
                    <h1>Газета |
                        <small>
                            Список статей
                        </small>
                    </h1>
                </div>

                {# Выбор автора #}
                <div class="col-md-2 selectors">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuAuthors"
                                data-toggle="dropdown">Выбрать автора <span
                                    class="caret"></span>
                        </button>
                        <ul id="authors-list" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuAuthors">
                            <li class="author-select" role="presentation"></li>
                            <li id="authorselect-all" class="author-select" role="presentation"><a
                                        role="menuitem" tabindex="-1" href="#"
                                        data-id="0">Все авторы</a></li>
                            <li class="divider" role="presentation"></li>

                            {# Список авторов #}
                            {% for author in authors %}
                                <li id="authorselect{{ author.id }}" class="author-select" role="presentation"><a
                                            role="menuitem" tabindex="-1" href="#"
                                            data-id="{{ author.id }}">{{ author.name }}</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {# Кнопка добавления статьи #}
                <div class="col-md-2 add-article">
                    <button id="add-article-header-button" type="button" class="btn btn-primary"
                            data-title="newarticle"
                            data-toggle="modal"
                            data-target="#add-article" data-placement="top" rel="tooltip">Добавить статью
                    </button>
                </div>

                {# Список статей#}
                <div class="table-responsive">
                    <table id="articleTable" class="table table-bordred table-striped tableheader tablesorter">
                        <thead>
                        <tr>
                            <th class="table-date">Дата</th>
                            <th class="table-article textcenter">Название статьи</th>
                            <th class="table-author">Автор</th>
                            <th class="table-rating textcenter">Рейтинг</th>
                        </tr>
                        </thead>
                        <tbody>

                        {# Наполнение таблицы статьями #}
                        {% if articles is defined %}
                            {% for article in articles %}
                                <tr>
                                    <td>{{ article.date.format('d.m.Y') }}</td>
                                    <td>
                                        <a id="openModalArticleLink{{ article.id }}" class="openModalArticleLink"
                                           href="{{ path('article_show_text',{'articleId': article.id}) }}"
                                           data-toggle="modal" data-target="#showarticleModal">{{ article.title }}</a>
                                    </td>
                                    <td>
                                        {% if article.authors is defined %}
                                            {% for author in article.authors %}
                                                {{ author.name }}{{ loop.last ? '' : ',<br>' }}
                                            {% endfor %}
                                        {% else %}
                                            Автор не указан
                                        {% endif %}

                                    </td>
                                    <td class="textcenter">{{ article.rating }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    {###### модальные окна ######}

    {# отображение статьи #}
    <div class="modal fade" id="showarticleModal" tabindex="-1" role="dialog" aria-labelledby="showarticleModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    {# добавление статьи #}
    <div class="modal fade" id="add-article" tabindex="-1" role="dialog" aria-labelledby="addarticle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Добавить новую статью</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input id="article-title-add" class="form-control" type="text" placeholder="Название">
                    </div>

                    <div id="article-author-add-div" class="form-group form-group-options">
                        <div class="input-group input-group-option col-xs-12">
                            <input id="article-author-add" type="text" name="option[]" class="form-control"
                                   placeholder="Автор">
    			<span class="input-group-addon input-group-addon-remove">
    				<span class="glyphicon glyphicon-remove"></span>
    			</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea id="article-text-add" class="form-control" rows="10" placeholder="Текст"></textarea>
                    </div>

                </div>
                <div class="modal-footer ">
                    <button id="add-article-button" type="button" class="btn btn-success btn-lg" style="width: 100%;
                    "><span class="glyphicon glyphicon-ok-sign"></span> Добавить
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
