{# Модальное окно для отображения статьи #}
<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">×</button>
<div id="articleModal">
    <div class="title">{{ title }}</div>
    <div class="date">{{ date }},</div>
    <div class="authors">
        {% if authors|length > 1 %}
            Авторы:
        {% else %}
            Автор:
        {% endif %}
        {% if authors is defined %}
            {% for author in authors %}
                {{ author }} {{ loop.last ? '' : ', ' }}
            {% endfor %}
        {% else %}
            Автор не указан
        {% endif %}
    </div>
    <div class="context">{{ context }}</div>
</div>
